@font-face {
  font-family: "Untitled Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("untitled-serif-regular.woff2") format("woff2"), url("untitled-serif-regular.woff") format("woff");
}
@font-face {
  font-family: "Untitled Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("untitled-serif-regular-italic.woff2") format("woff2"),
    url("untitled-serif-regular-italic.woff") format("woff");
}
@font-face {
  font-family: "Untitled Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("untitled-serif-medium.woff2") format("woff2"), url("untitled-serif-medium.woff") format("woff");
}
@font-face {
  font-family: "Untitled Serif";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("untitled-serif-medium-italic.woff2") format("woff2"),
    url("untitled-serif-medium-italic.woff") format("woff");
}
@font-face {
  font-family: "Untitled Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("untitled-serif-bold.woff2") format("woff2"), url("untitled-serif-bold.woff") format("woff");
}
@font-face {
  font-family: "Untitled Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("untitled-serif-bold-italic.woff2") format("woff2"), url("untitled-serif-bold-italic.woff") format("woff");
}
