@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("a10a028c-8401-406a-857b-0661e2d5b6e3.woff2") format("woff2"),
    url("b127613c-5c92-408c-96bd-058ddbb43e1a.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("8c0b2ff8-d934-4eba-83b9-aaebeaf621dc.woff2") format("woff2"),
    url("8e34ac72-6245-4794-b5cf-b85c8324fb9f.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("eec18376-146c-4114-a833-11e54f7d5d1b.woff2") format("woff2"),
    url("8643f4bf-7a5c-4e46-8978-9cfb13f32c2e.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("d48e00a0-6cd2-4a18-8b36-b1f8b5e9052e.woff2") format("woff2"),
    url("bdd4db0b-9da4-4aa6-97b2-96716b1044bc.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("7e70cbda-f952-448b-88f2-5fb88504cedb.woff2") format("woff2"),
    url("b4fb6260-dd83-4d6a-b621-d58ab2efe509.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("3500ccf5-f400-4707-8157-578138be9a9e.woff2") format("woff2"),
    url("271d762a-b1e7-4303-a3cf-c9c9171f3f21.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("1d2dde5c-f3e5-4c68-8587-251c73283dea.woff2") format("woff2"),
    url("90015316-b72f-4823-a759-38fca920aaff.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextRoundedW01";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("a02bf57f-849f-4364-8bcf-fbac6d020920.woff2") format("woff2"),
    url("3e4a1e1c-3a10-491b-8db1-5a2769b74dc4.woff") format("woff");
}
